{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}

<div class="jumbotron jumbotron-fluid" style="height:650px;">
    <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
        {% endif %}
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form method="POST" action="{% url 'addbooking' %}" name="form">

                    {{ form|crispy }}
                    {{ form.media }}
                    {% csrf_token %}


                    <div class="intro-button mx-auto"><button class="btn btn-danger col-md-12" type="submit">Submit
                            Booking</button>
                    </div>

                </form>
            </div>
        </div>
    </div>

        </div>
    </div>
</div>
</div>


{% endblock content %}

