{% extends 'base.html' %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}



<div class="table-responsive-sm">
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Customer name</th>
                <th scope="col">Reservation date</th>
                <th scope="col">Reservation time</th>
                <th scope="col">Phone number</th>
                <th scope="col">Number of guests</th>
            </tr>
        </thead>
        <tbody>
            {% for booking in bookings %}
            <tr>
                <th scope="row"></th>
                <td>{{ booking.name }}</td>
                <td>{{ booking.booking_date }}</td>
                <td>{{ booking.get_booking_time_display }}</td>
                <td>{{ booking.phone_number }}</td>
                <td>{{ booking.party_size}}</td>
            
            </tr>
        </tbody>
        {% endfor %}
        {% csrf_token %}
    </table>
</div>
{% endblock content %}