<footer class="container-fluid mt-auto justify-text-center">
    <div id="footer-details" class="row align-items-center justify-content-center pt-2">
        <div class="">
            <ul class="list-unstyled">
                <li class=" list-inline-item mr-2 pb-2">
                    
                    <span>
                        <i class="fa fa-map-marker" aria-hidden="true"></i> 10 James Street
                    </span>
                </li>
                <li class=" list-inline-item mr-2 pb-2">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <a class="color" href=“”>
                        <span class=""> 00897653425</span>
                    </a>
                </li>
                <li class="list-inline-item mr-2 pb-2">
                    <i class="fa fa-at" aria-hidden="true"></i>
                    <a class="color" href=“”>
                        <span> smorebrod@smorrebrod.com</span>
                    </a>
                </li>
                <li class="list-inline-item pb-2">
                    <i class="fa fa-envelope-o" aria-hidden="true"></i>
                    <a class="color" href="">
                        <span> wwww.smorrebrod.com </span>
                    </a>
                </li>
                <li class="list-inline-item ml-3 pr-1">
                    <a class="links-color-icon" target="_blank" href="">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                        <span class="sr-only">Facebook</span>
                    </a>
                </li>
                <li class="list-inline-item pr-1">
                    <a class="links-color-icon" target="_blank" href="#">
                        <i class="fa fa-pinterest" aria-hidden="true"></i>
                        <span class="sr-only">Pinterest</span>
                    </a>
                </li>
                <li class="list-inline-item pr-1">
                    <a class="links-color-icon" target="_blank" href="#">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                        <span class="sr-only">Instagram</span>
                    </a>
                </li>
            </ul>
        </div>
        <div class="row" id="map"></div>
    </div>
</footer>